@model Domain.Entity.Users.RegisterViewModel

@{
    Layout = "_AuthLayout";
    ViewData["title"] = "Register";
}

<h2>@ViewData["title"]</h2>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <h1>@ViewBag.ErrorMessage</h1>
}

<form asp-controller="Account" asp-action="Register" method="post" class="flex flex-col">
    <label >
        Email
        <input type="text" asp-for="Email">
        <span asp-validation-for="Email"></span>
    </label>
    <label >
        Username
        <input type="text" asp-for="UserName">
        <span asp-validation-for="UserName"></span>
    </label>
    <label>
        Password
        <input asp-for="Password" type="password">
        <span asp-validation-for="Password"></span>
    </label>
    <label >
        Confirm Password
        <input asp-for="ConfirmPassword" type="password">
        <span asp-validation-for="ConfirmPassword"></span>
    </label>
    <button type="submit">Submit</button>
</form>