@model Domain.Entity.Users.RegisterViewModel

@{
    Layout = "_AuthLayout";
    ViewData["title"] = "Register";
}

<h2>@ViewData["title"]</h2>
<form asp-controller="Account" asp-action="Register" method="post" class="flex flex-col">
    <label >
        Email
        <input type="email" asp-for="Email">
    </label>
    <label >
        Username
        <input type="text" asp-for="UserName">
    </label>
    <label>
        Password
        <input asp-for="Password" type="password">
    </label>
    <label >
        Confirm Password
        <input asp-for="ConfirmPassword" type="text">
    </label>
    <button type="submit">Submit</button>
</form>