@{
    ViewData["Title"] = "Home Page";
}
<header class="w-full px-12 pt-9" >
    <partial name="_Header"/>
</header>

<main class="pt-9 w-full bg-black mt-9 text-white text-center">
<div>12</div>    
</main>